@page "/"
@using Car_Rental.Business.Classes;
@using Car_Rental.Common.Enums;
@using Car_Rental.Data.Classes;
@inject BookingProcessor bp;

<link rel="stylesheet" type="text/css" href="css/main.css">

<h1>Car Rental Assignment - G</h1>

<!-- Vehicles -->
<div>
    Vehicles
    <table class="full_width">
        <tr>
            <th>RegNo</th>
            <th>Make</th>
            <th>Odometer</th>
            <th>Cost Km</th>
            <th>Vehicle Type</th>
            <th>$ Day</th>
            <th>Status</th>
        </tr>
        @foreach (var vehicle in bp.GetVehicles())
        {
            <tr>
                <th>@vehicle.RegistrationNumber</th>
                <td>@vehicle.Make</td>
                <td>@vehicle.Odometer</td>
                <td>@vehicle.CostPerKm</td>
                <td>@vehicle.VehicleType</td>
                <td>@vehicle.CostPerDay</td>
                <td class="position-relative">
                    <span class="badge rounded-pill position-absolute top-50 start-50 translate-middle @(vehicle.Status == @VehicleStatuses.Available ? "bg-black" : "bg-danger")">@vehicle.Status
                    </span>
                </td>
            </tr>
        }
    </table>
</div>
<!-- Bookings -->
<div>
    Bookings
    <table class="full_width">
        <thead>
        <tr>
            <th>RegNo</th>
            <th>Customer</th>
            <th>Km Rented</th>
            <th>Km Returned</th>
            <th>Rented</th>
            <th>Returned</th>
            <th>Cost</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var booking in bp.GetBookings())
        {
            <tr>
                <th>@booking.RegistrationNumber</th>
                <td>@booking.Customer</td>
                <td>@booking.OdometerRented</td>
                <td>@(booking.Status.Equals(BookingStatuses.Closed) ? booking.OdometerReturned : "")</td>
                <td>@booking.DateRented</td>
                <td>@(booking.Status.Equals(BookingStatuses.Closed) ? booking.DateReturned : "")</td>
                <td>@(booking.Status.Equals(BookingStatuses.Closed) ? booking.Cost : "")</td>
                <td class="position-relative">
                        <span class="badge rounded position-absolute top-50 start-50 translate-middle @(booking.Status == BookingStatuses.Open ? "bg-success" : "bg-danger")">@booking.Status
                        </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<!-- Customers -->
<div>
    Customers
    <table class="half_width">
        <thead>
        <tr>
            <th>SSN</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in bp.GetCustomers())
        {
                <tr>
                    <th>@person.SocialSecurityNumber</th>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
        }
        </tbody>
    </table>
</div>
